{% extends 'base.html.twig' %}
{% block title %}WhognaWin -Edition du match{% endblock %}
{% block body %}
    <h1>Edition du match {{ game.id }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="form-control btn btn-warning" type="submit" value="Edition" />
    {{ form_end(edit_form) }}
            <a class="form-control btn btn-primary" href="{{ path('game_index') }}">Retour a la liste</a>
            {{ form_start(delete_form) }}
                <input class="form-control btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
{% endblock %}
