{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des matchs</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type de terrain</th>
                <th>Météo</th>
                <th>Joueur 1</th>
                <th>Joueur 2</th>
                <th>Joueur 1 score</th>
                <th>Joueur 2 score</th>
                <th>Date de la rencontre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('game_show', { 'id': game.id }) }}">{{ game.id }}</a></td>
                <td>{{ game.terrain }}</td>
                <td>{{ game.meteo }}</td>
                <td>{{ game.player1 }}</td>
                <td>{{ game.player2 }}</td>
                <td>{{ game.player1score }}</td>
                <td>{{ game.player2score }}</td>
                <td>{% if game.date %}{{ game.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('game_show', { 'id': game.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('game_edit', { 'id': game.id }) }}">editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_new', { 'gender': 'male' }) }}">Créer une match homme</a>
            <a href="{{ path('game_new', { 'gender': 'female' }) }}">Créer une match femme</a>

        </li>
    </ul>
{% endblock %}
