{% extends 'base.html.twig' %}

{% block body %}
    <hr class="my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion des matchs</div>
                <div class="card-body">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('game_new', { 'gender': 'male' }) }}" role="button">Ajouter un match homme</a>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('game_new', { 'gender': 'female' }) }}" role="button">Ajouter un match femme</a>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('game_index') }}" role="button">Voir tous les matchs</a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion des joueurs</div>
                <div class="card-body">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('player_new' ,{'gender': 'Male'}) }}" role="button">Ajouter un Joueur</a>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('player_index',  { 'gender': 'Female'  }) }}" role="button">Voir toutes les femmes</a>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('player_index',  { 'gender': 'Male'  }) }}" role="button">Voir tous les hommes</a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion des tournois</div>
                <div class="card-body">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('tournament_new') }}" role="button">Ajouter un tournoi</a>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('tournament_index') }}" role="button">Voir tous les tournois</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}