{% extends 'base.html.twig' %}

{% block body %}
    <br class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion Matchs</div>
                <div class="card-body">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('game_new', { 'gender': 'male' }) }}" role="button">Ajouter un match homme</a>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('game_new', { 'gender': 'female' }) }}" role="button">Ajouter un match femme</a>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('game_index') }}" role="button">Voir tous les matchs</a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion Joueurs</div>
                <div class="card-body">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('player_new') }}" role="button">Ajouter un Joueur</a>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('player_index') }}" role="button">Voir tous les joueurs</a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Gestion Tournois</div>
                <div class="card-body">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('tournament_new') }}" role="button">Ajouter un tournoi</a>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('tournament_index') }}" role="button">Voir tous les tournois</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
    </br>

        <a  href="{{ path('search_player_by_name_get') }}" class="btn btn-primary btn-lg btn-block">Rechercher un joueur</a>
    </div>
{% endblock %}