{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tous les joueurs</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.name }}</td>
                <td>{{ player.age }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="badge badge-primary"  class="badge badge-primary" href="{{ path('player_show', { 'id': player.id }) }}">Afficher plus d'information</a>
                        </li>
                        <li>
                            <a class="badge badge-warning" href="{{ path('player_edit', { 'id': player.id }) }}">Editer le joueur</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('player_new') }}">Créer un nouveau joueur</a>
        </li>
    </ul>
{% endblock %}
