{% extends 'base.html.twig' %}

{% block body %}
    <h1>Joueur {{ player.id }}</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ player.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ player.age }}</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-primary form-control" href="{{ path('player_index') }}">Retour a la liste des joueurs</a>

            <a class="btn btn-warning form-control"  href="{{ path('player_edit', { 'id': player.id }) }}">Editer</a>

            {{ form_start(delete_form) }}
                <input class="form-control btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

{% endblock %}
