{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des tournois</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td><a href="{{ path('tournament_show', { 'id': tournament.id }) }}">{{ tournament.id }}</a></td>
                <td>{{ tournament.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tournament_show', { 'id': tournament.id }) }}">Afficher plus d'information</a>
                        </li>
                        <li>
                            <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tournament_new') }}">Créer un nouveau tournoi</a>
        </li>
    </ul>
{% endblock %}
