{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tournament</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tournament.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tournament.name }}</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-primary form-control" href="{{ path('tournament_index') }}">Back to the list</a>

            <a class="btn btn-primary form-control" href="{{ path('tournament_edit', { 'id': tournament.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
                <input class="form-control" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
