{% extends 'base.html.twig' %}

{% block body %}
    <h1>Informations {{ player.name }}</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.age }}</td>

            </tr>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.meteo }}</td>
                <td>{{ game.meteo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
