{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultat de recherche pour :  {{ player.name }}</h1>
    <p>ID : {{ player.id }}</p>
    <p>Age : {{  player.age }}</p>
    <p>Sexe : {{  player.gender }}</p>

    <p>Nombre de match jouer : {{ total }} Match gagné : {{ winned }} match perdu : {{ total-winned }}</p>
    <table>
        <thead>
        <tr>
            <th>ID match</th>
            <th>Score joueur 1</th>
            <th>Score joueur 2</th>
            <th>Joueur 1</th>
            <th>Joueur 2</th>
            <th>Gagnant</th>
        </tr>
        </thead>
        <tbody>
        {% for matchs in games %}
            {% for game in matchs %}
        <tr>
                <th>{{ game.id }}</th>
                <th>{{ game.player1score }}</th>
                <th>{{ game.player2score }}</th>
                <th>{{ game.player1 }}</th>
                <th>{{ game.player2 }}</th>
            {% if(player == game.player1) %}
                {% if(game.player1score > game.player2score) %}
                    <th>Gagné</th>
                {% endif %}
                    <th>Perdu</th>
            {% else %}
                {% if(game.player1score < game.player2score) %}
                    <th>Gagné</th>
                {% endif %}

            {% endif %}

        {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
