{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultat de recherche pour :  {{ player.name }}</h1>
    <p>Age : {{  player.age }} ans</p>
    <p>Sexe : {{  player.gender }}</p>

    <p>Nombre de match joué : {{ total }} <br/>Match gagné : {{ winned }} <br/>match perdu : {{ total-winned }}</p>
    Winrate : {{ winned/total*100 }}%
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID match</th>
            <th>Date du match</th>
            <th>Score joueur 1</th>
            <th>Score joueur 2</th>
            <th>Joueur 1</th>
            <th>Joueur 2</th>
            <th>Type de terrain</th>
            <th>Gagnant</th>
        </tr>
        </thead>
        <tbody>
        {% for matchs in games %}
            {% for game in matchs %}
        <tr>
                <th>{{ game.id }}</th>
                <th>{{ game.date|date("m/d/Y") }}</th>
                <th>{{ game.player1score }}</th>
                <th>{{ game.player2score }}</th>
                <th>{{ game.player1 }}</th>
                <th>{{ game.player2 }}</th>
                <th>{{ game.terrain }}</th>
            {% if(player == game.player1) %}
                {% if(game.player1score > game.player2score) %}
                    <th>Gagné</th>
                {% endif %}
                    <th>Perdu</th>
            {% else %}
                {% if(game.player1score < game.player2score) %}
                    <th>Gagné</th>
                {% endif %}

            {% endif %}

        {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
